html {
  min-height: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

#header,
#main,
#footer {
  flex-shrink: 0;
}

#main,
#footer {
  position: relative;
}

#main {
  flex-grow: 1;
}

#main {
  background: #ffffff;
  color: #2b3742;
  padding: 2rem;
}

/* nav toggle */
.nav-toggle {
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: absolute;
  top: 2rem;
  width: 1.8rem;
  z-index: 2;
}
.nav-toggle:hover {
  opacity: 0.7;
}
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #17252a;
  content: "";
  height: 0.2rem;
  transition: all 0.5s;
  width: 100%;
}
.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.6rem;
}
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.6rem;
}
.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: #ffffff;
  margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* nav */
.nav {
  background: #3aafa9;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 100vh;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 20rem;
  z-index: 1;
}
.nav.expanded {
  left: 0;
}
.nav ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
}
